<a href="https://colab.research.google.com/github/Dcode626/ML_lessons/blob/main/SQL_Queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%sqllite
Schema:

transactions

column	type	description
transaction_id	INT	unique ID
user_id	INT	customer ID
transaction_date	DATE	transaction date
amount	DECIMAL	amount in USD
status	VARCHAR	(â€˜SUCCESSâ€™, â€˜FAILEDâ€™, â€˜DECLINEDâ€™, â€˜CHARGEBACKâ€™)
merchant_id	INT	merchant identifier
country	VARCHAR	transaction country

users

column	type	description
user_id	INT	unique customer ID
account_created	DATE	account creation date
credit_limit	DECIMAL	available limit
risk_score	INT	internal fraud risk score (1â€“100)

UsageError: Cell magic `%%sql` not found.

In [ ]:
Table: transactions
| transaction_id | user_id | amount | status | country | transaction_date |

Question 1:
Write an SQL query to fetch all transactions made in the UK where the amount is greater than 5000 and the status is 'SUCCESS', ordered by amount (highest first).

ðŸ‘‰ Return columns:
transaction_id, user_id, amount, transaction_date

In [ ]:
SELECT
  transaction_id,
  user_id,
  amount,
  transaction_date
FROM transactions
WHERE
  status = 'SUCCESS'
  AND amount > 5000
  AND country = 'UK'
ORDER BY amount DESC;